/*html, body { font-family: Times, "Charter ITC Std", serif; font-size: 14pt; }*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

html, body { font-family: 'Open Sans', sans-serif; font-size: 12pt; }

h1{
	font-size: 23px; 
	text-align: center;
	font-weight: 900;}

h2{	
	margin-bottom: 0px;
	font-size: 18px;
	font-style: italic;
	
}

h3{
 	font-size: 15px;
 }
 table{
 	width: 100%;
 }
 .workflow{
 	width: 100%;
 	margin-top: 20px;
 }

.table_fields td {
  padding-left: 5px;
}

.center{text-align: center;}
.logo{
	height:35px;
	width:120px;
}

.shade{background: #F4F4F4;}
.section{
	padding: 10px;
}
.padding-10{
	padding: 10px;
}
.field{
	text-decoration: underline;
	
}

.data-field:{
	border-bottom: 5px white  solid; 
	width:75%;
	background: #F4F4F4;
} 
.padding-right-20{padding-right: 20px;}

.job{
	width:100%; 
	min-height: 200px !important;
}

.checklist  td {
	border: 1px solid;
	padding:10px;
}
.checklist  th {
	border: 1px solid;
	padding-top: 10px; 
	padding-bottom: 10px; 
}
.checklist  table {
	border: 1px solid;
	border-collapse: collapse;
	margin-bottom: 20px;
}

.bck-drkgrey{
	background-color: grey;
}


.bck-grey{
	background-color: lightgrey;
}
.bck-white{
	background-color: white;
}
