body{
	background-color: #F4F4F4;
}
h1{ text-align: center;}

h2{
	font-size: 25px; 
	text-align: center;
}
.section{
	border-radius: 13px 13px 13px 13px;
	-moz-border-radius: 13px 13px 13px 13px;
	-webkit-border-radius: 13px 13px 13px 13px;
	border: 1px solid #DADADA;
	margin-bottom:20px;
	padding: 15px;
	background: white;
}
.padding-bottom-50{
	padding-bottom: 50px;
} 
.margin-top-15{
	margin-top: 15px;
}

.margin-top-50{
	margin-top: 50px;
}

.exergylogo{
	height:44px;
	width:150px;
	margin-top: 20px;
}

.enmaxlogo{
	height:55px;
	width:150px;
	margin-top: 20px;
}
.exergylogo_mobile{
	height:37px;
	width:125px;
	margin-top: 20px;
}

.enmaxlogo_mobile{
	height:37px;
	width:100px;
	margin-top: 20px;
}

.mobile-logo{
	display: none;
}

.required-field{
	background: white !important;
}
.error{
	color: #F6F2F2!important;
	background-color: #EC3737!important;
}
.porgress{
	color: #56D476!important;
	background-color: #EC3737!important;
	
}

#upload-frame{
	width: 100%;
	min-height:250px; 
}

input[type="date"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.glyphicon-asterisk {
	font-size: 10px;
}

.border-right-delete{
	border-right-color: #fff;
	border-right: 1;
}

.asterisk{
	background-color: #fff;
}
.help{
	color: red;
	font-size: 15;
}

.login{

	margin-top: 0px !important;
	padding-top: 10px !important;

}

.login h2, hr{
	margin-top: 0px!important;
}

.mini-input-left  {
	padding-left: 0px;
	padding-right: 5px;
}
.mini-input-right {
	padding-right: 0px;
	padding-left: 5px;
}
#spinner {
    position: absolute; 
    width: 120px; 
    height: 120px;
    top: 50%;
    left: 50%;
    display: none;
    z-index: 99999;

}
@media screen and (max-width: 992px){
	.exergylogo{
		height:37px;
		width:125px;
		margin-top: 20px;
		}

	.enmaxlogo{
		height:46px;
		width:125px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 769px){
	.exergylogo{display: none; }
	.enmaxlogo{display: none;}
	.mobile-logo{
		display: inline !important;
		padding: 0;}
	h1{ margin-top: 0px !important;}

}
@media screen and (max-width: 1199px){
#workflow-section{display: none;}
}

.invalid {color: red;}

.no-border-right{border-right:none!important;}

.enmaxstep{background: rgba(200, 32, 44, 0.74);}
.exergystep{background: rgba(30, 123, 182, 0.69);}
.step1{
    color: white;
    font-size: 17px;
    padding: 5px 20px;
    width: 256px;
    margin-left: 8px;
}
.step2{
    color: white;
    font-size: 17px;
    padding: 5px 20px;
    width: 256px;
    margin-left: 271px;
}
.step3{
    color: white;
    font-size: 17px;
    padding: 5px 20px;
    width: 256px;
    margin-left: 536px;
 
}
.step4{
    color: white;
    font-size: 17px;
    padding: 5px 20px;
    padding-top: 5px;
    width: 264px;
    margin-left: 801px;
  
}
