body {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 3px dashed #8a868a;
	min-height: 250px;
    padding: 20px;

}
.margin-bottom-10 {margin-bottom: 10px;}

.serverError{
	max-height: 100px;
    overflow: auto;
    display: inline-flex;
}

.fileButtons{
	display: inline;
	margin-bottom: 10px;
}
.fileButtons button{
	padding: 0 !important;
	margin: 0 !important;
	height: 25px;
	width: 25px;
}

.fileIcon{
	display: inline-block;
}
.fileProgress{
	display: inline;
	width: 30%;

}

.btn{
	margin-top: 4px !important;
}
.fileProgress p, div {margin: 0!important;}
.fileProgress div {height: 10px!important;}

.fileDivider{
	margin-bottom: 4px;
	margin-top: 4px;
}

